@model IEnumerable<SequenceAlignment.Models.Sequence>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
@{ 
    var FilteredData = Model.Where(x=>x.ByteText != null).Select(Selector => new { Selector.AlignmentID, Selector.FirstSequenceName, Selector.SecondSequenceName, Selector.SubmittedDate , Selector.ByteText }).OrderBy(O=> O.SubmittedDate);
    string Json = Newtonsoft.Json.JsonConvert.SerializeObject(FilteredData);
}
<div class="container" ng-app="">
    <div class="form-group pull-left">
        <input type="text" class="search form-control" placeholder="What you looking for?" ng-model="SearchBox"/>
    </div><span class="counter pull-right"></span>
    <table class="table table-hover table-bordered results">
        <thead>
            <tr>
                <th class="col-md-2 col-xs-2 text-center">ID</th>
                <th class="col-md-2 col-xs-2 text-center">First Sequence</th>
                <th class="col-md-2 col-xs-2 text-center">Second Sequence</th>
                <th class="col-md-2 col-xs-2 text-center">Submitted Date</th>
                <th class="col-md-2 col-xs-2 text-center">Actions</th>
            </tr>
        </thead>
        <tbody >
                <tr ng-repeat="Seq in @Json | filter : SearchBox track by $index | limitTo: 25">
                    <td class="col-md-2 col-xs-1">{{Seq.AlignmentID}}</td>
                    <td class="col-md-2 col-xs-1">{{Seq.FirstSequenceName}}</td>
                    <td class="col-md-2 col-xs-1">{{Seq.SecondSequenceName}}</td>
                    <td class="col-md-2 col-xs-1">{{Seq.SubmittedDate}}</td>
                    <td class="col-md-2 col-xs-1">
                        <a class="btn btn-primary" asp-controller="Profile" asp-action="DownloadFile" asp-route-AlignmentID="{{Seq.AlignmentID}}">Download</a>
                        <a class="btn btn-danger" asp-controller="Profile" asp-action="DeleteFile" asp-route-AlignmentID="{{Seq.AlignmentID}}">Remove</a>
                    </td>                         
                </tr>
        </tbody>
    </table>
</div>
