@{
    ViewData["Title"] = "About";
}
<link href="~/css/AboutCSS.css" rel="stylesheet" />

<div class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-0 col-sm-8">
                <div class="intro">
                    <h2 style="text-align: left;">Sequence Alignment</h2>
                    <p class="text-left">Proofing and discovering the similarity of the new sequence with other exist sequence; to define the evolution process of the family's sequence; as well as to support the protein structure prediction, etc.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 hidden-xs">
                <div class="iphone-mockup"><img src="~/images/AboutDNA.png" class="device" /></div>
            </div>
        </div>
    </div>
</div>
<section id="team" class="bg-light-gray" style="background-color:#f1f7fc">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">People Who Brought The Dream Out Into reality </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive" src="assets/img/Larry.jpg">
                    <h4>Prof. Dr. Mohamed Assal</h4>
                    <p class="text-muted">Supervisor </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive" src="assets/img/Larry.jpg">
                    <h4>Ahmed Said</h4>
                    <p class="text-muted">AL </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive" src="assets/img/Larry.jpg">
                    <h4>Ahmed Ramadan</h4>
                    <p class="text-muted">Web Developer &amp; Designer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive" src="assets/img/Larry.jpg">
                    <h4>Amr Tawfik</h4>
                    <p class="text-muted">Web Developer &amp; Designer </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive" src="assets/img/Larry.jpg">
                    <h4>Mahmoud Zakaria</h4>
                    <p class="text-muted">Web Developer &amp; Designer </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive" src="assets/img/Larry.jpg">
                    <h4>Mahmoud Mokhtar</h4>
                    <p class="text-muted">Windows Developer &amp; Designer </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive" src="assets/img/Larry.jpg">
                    <h4>Mohamed Zaki </h4>
                    <p class="text-muted">Windows Developer &amp; Designer</p>
                </div>
            </div>
        </div>
    </div>
</section>