@{
    ViewData["Title"] = "About";
}
<link href="~/css/About.css" rel="stylesheet" />

<div class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-0 col-sm-8">
                <div class="intro">
                    <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Sequence Alignment</h2>
                    <p class="lead text-left" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Proofing and discover the similarity of the new sequence with other exist sequences; to define the evolution process of the family's sequence; as well as to support the protein structure prediction, etc.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 hidden-xs">
                <div class="iphone-mockup"><img src="~/images/AboutDNA.png" class="device"></div>
            </div>
        </div>
    </div>
</div>
<br />
<section id="team" class="bg-light-gray" style="background-image: url('../images/pattern.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">People Who Convert A Dream To Reality </h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-5 col-md-offset-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive"src="~/images/rsz_1208703_1387064071521034_1289878417_n.jpg" /> 
                    <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Prof. Dr. Mohamed Assal</h4>
                    <p class="text-muted" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Supervisor </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-0 col-md-3 col-md-offset-1 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive"src="~/images/rsz_14883657_10157761748720565_3535877142929054600_o.jpg" /> 
                    <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Ahmed Said</h4>
                    <p class="text-muted" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">AL </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-md-offset-0 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive"src="~/images/rsz_10646964_133374897036488_387698077498336650_n.jpg" /> 
                    <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Ahmed Ramadan</h4>
                    <p class="text-muted" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Web Developer &amp; Designer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-md-offset-0 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive"src="~/images/rsz_1b612_20160215_111243.jpg" /> 
                    <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Amr Tawfik</h4>
                    <p class="text-muted" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Web Developer &amp; Designer </p>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-0 col-md-3 col-md-offset-1 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive"src="~/images/rsz_18275038_331479883935674_1740942691146229811_n.jpg" /> 
                    <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Mahmoud Zakaria</h4>
                    <p class="text-muted" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Web Developer &amp; Designer </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive"src="~/images/rsz_13131234_489150057957553_8296982979161747103_o.jpg" /> 
                    <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Mahmoud Moktar</h4>
                    <p class="text-muted" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Windows Developer &amp; Designer </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-4">
                <div class="team-member">
                    <img class="img-circle img-responsive"src="~/images/rsz_facebook-avatar.jpg" />
                    <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Mohamed Zaki </h4>
                    <p class="text-muted" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Windows Developer &amp; Designer</p>
                </div>
            </div>
        </div>
    </div>
</section>