@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/styles.min.css" rel="stylesheet" />
<link href="~/css/cohome.css" rel="stylesheet" />
    <div class="carousel slide" data-ride="carousel" id="carousel-1" >
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <a asp-controller="Alignment" asp-action="Align">
                    <img src="~/images/DNA.jpg" alt="Slide Image" />
                    <h1 class="visible-lg-inline hidden-xs hidden-sm hidden-md" style="position:absolute;top:85%;left:15%;transform:translate(-50%,-50%);height:12%;width:30%;color:white;font-weight:700;background:rgba(0, 0, 0, 0.5); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Sequence Alignment</h1>
                    <h1 class="visible-md-block hidden-xs hidden-sm hidden-lg" style="position:absolute;top:85%;left:17%;transform:translate(-50%,-50%);height:12%;width:35%;color:white;font-weight:500;background:rgba(0, 0, 0, 0.5); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Sequence Alignment</h1>
               </a>
                    </div>
            <div class="item">
                <a asp-controller="Alignment" asp-action="Grid">
                    <img src="~/images/CloudComputing.jpg" alt="Slide Image" />
                    <h1 class="visible-md-block hidden-xs hidden-sm hidden-lg" style="position:absolute;top:85%;left:17%;transform:translate(-50%,-50%);height:12%;width:35%;color:white;font-weight:500;background:rgba(0, 0, 0, 0.5); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Cloud Computing</h1>
                    <h1 class="visible-lg-inline hidden-xs hidden-sm hidden-md" style="position:absolute;top:85%;left:15%;transform:translate(-50%,-50%);height:12%;width:30%;color:white;font-weight:700;background:rgba(0, 0, 0, 0.5); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Cloud Computing</h1>
               </a>
                    </div>
            <div class="item active">
                <a asp-controller="WebService" asp-action="Index">
                    <img src="~/images/WebAPI.png" alt="Slide Image" />
                    <h1 class="visible-md-block hidden-xs hidden-sm hidden-lg" style="position:absolute;top:85%;left:17%;transform:translate(-50%,-50%);height:12%;width:35%;color:white;font-weight:500;background:rgba(0, 0, 0, 0.5); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Web Service </h1>
                    <h1 class="visible-lg-inline hidden-xs hidden-sm hidden-md" style="position:absolute;top:85%;left:15%;transform:translate(-50%,-50%);height:12%;width:30%;color:white;font-weight:700;background:rgba(0, 0, 0, 0.5); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Web Service</h1>
                </a>
             </div>
        </div>
        <div>
            <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a>
            <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
        </ol>
    </div>

<link href="~/css/Windows.css" rel="stylesheet" />
<div class="container-fluid" style="background-image: url('../images/Pattern.png');" >
    <div class="col-md-12 dh-header-non-rectangular-container">
        <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#337ab7"> Windows Application</h1>
        <p class="description"  style="font-size:20px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:#337ab7">Introduce a Windows Application that fit any user requirments depend on personal PC Capability </p>
        <a class="btn btn-default btn-lg" role="button" href="https://goo.gl/AVOZUK"><i class="fa fa-windows" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" ></i> Available on the Windows Store</a>
    </div>
</div>
        <div class="features-boxed">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Just For Insight </h2>
                </div>
                <div class="row features">
                    <div class="col-lg-6 col-md-4 col-sm-6 item ">
                        <div class="box">
                            <h3 class="text-center name"> Needleman Wunsch Algorithm</h3>
                            <p class="description" style="text-align:left"> This is a global alignment algorithm, one of the first applications of dynamic programming to align biological sequences , Developed by S.Needlman & C.Wunsch </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 item ">
                        <div class="box">
                            <h3 class="text-center name"> Parallel Needleman Wunsch </h3>
                            <p class="description" style="text-align:left">This Algorithm modify the filling technique,It fill the matrix slice by slice. This new filling technique allow unlock the ability to use the parallel programming to speed up alignment computation time</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 item ">
                        <div class="box">
                            <h3 class="text-center name"> Grid Computing</h3>
                            <p class="description" style="text-align:left">This is software and hardware structure provides a high computing capabilities by sharing distributed resources like computers,storage space.The resources of grid computing structure must scheduled </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 item ">
                        <div class="box">
                            <h3 class="text-center name">Scoring Matrix</h3>
                            <p class="description" style="text-align:left">This is used to determine the relative score made by matching two characters in a sequence alignment , Usually log-odds of the likelihood of two characters being derived from a common character </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 item ">
                        <div class="box">
                            <h3 class="text-center name">Clean Sequences</h3>
                            <p class="description" style="text-align:left">This  clean any sequences based on (DNA,RNA or Protein ) from noise , Any character not belong to DNA,RNA or protein alphabet such as spaces, symbols, numbers,  will be removed</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 item ">
                        <div class="box">
                            <h3 class="text-center name">Generate Sequences</h3>
                            <p class="description" style="text-align:left">This Generate Two sequences type of DNA,RNA or Protein , with a consegetive match between them , that meaning with no gap , can decide the position of match Right, left or middle</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 item ">
                        <div class="box">
                            <h3 class="text-center name">Split Sequences</h3>
                            <p class="description" style="text-align:left">This Split Any length of sequence into small chunks , A chunk is defined as a familiar collection of more elementary units that have been inter-associated , anyone can decide The chunk length </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 item ">
                        <div class="box">
                            <h3 class="text-center name">Sequence Similarity</h3>
                            <p class="description" style="text-align:left">This calculate the similarity between any two sequences using edit distance algorithm , return result in a percantage format also get similarity between any sequences length </p>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
        <script src="~/js/cohome.js"></script>