<div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Resetting Password Notification</h2>
            <p class="lead text-center"> We have sent a confirmation email, to your email, please check it before 24 hours. </p>
        </div>
    </div>
</div>