
<style>
    body {
        text-align: unset;
    }
</style>
<link href="~/css/AlignSimple.css" rel="stylesheet" />

<div class="contact-clean">
    <form method="post" asp-action="ForgetPassword" asp-controller="Account">
        <h2 class="text-center">Forget Password</h2>
        <div class="form-group">
            <input type="email" name="Email" placeholder="Email" class="form-control" />
            <small class="text-info">Your Account Email</small>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit"> Send Confirmation </button>
        </div>
    </form>
</div>