@model SequenceAlignment.ViewModels.LoginViewModel
<style>
    body {
        text-align: unset;
    }
</style>
<link href="~/css/Login.css" rel="stylesheet" />

<div class="login-clean">
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="glyphicon glyphicon-log-in"></i></div>
        <div class="form-group">
            <input class="form-control" type="email"  placeholder="Email" asp-for="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" asp-for="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" asp-for="RememberMe">Remember Me
            </label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg" type="submit">Log In</button>
        </div>
        <p>Don't you have an account? <a asp-action="Signup" asp-controller="Account">Sign-up </a></p>
    </form>
</div>


