@model SequenceAlignment.ViewModels.ResetPasswordViewModel
<form method="post" asp-controller="Account" asp-action="RestPassword">
       <input type="text" hidden name="UserId" asp-for="UserId" />
        <input type="text" hidden name="CodeToken" asp-for="CodeToken" />
    <label>
        Password:
        <input type="password" asp-for="Password" />
    </label>
    <label>
        Password re-type:
        <input type="password" asp-for="RetypePassword" />
    </label>
    <input type="submit" />
</form>