@model SequenceAlignment.ViewModels.RegistrationViewModel
<link href="~/css/Signup.css" rel="stylesheet" />
<style>
    body {
        text-align: unset;
    }
</style>
<div class="register-photo">
    <div class="form-container">
        <form method="post" asp-controller="Account" asp-action="Signup">
            <h2 class="text-center"><strong>Create</strong> a new account.</h2>
            <div class="form-group">
                <input type="text"  placeholder="UserName" class="form-control" asp-for="UserName" required/>
            </div>
            <div class="form-group">
                <input type="email"  placeholder="Email" class="form-control" asp-for="Email" required/>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" asp-for="Password" required/>
            </div>
            <div class="form-group">
                <input type="password"  placeholder="Password (repeat)" asp-for="ComparePassword" class="form-control" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="control-label">
                        <input type="checkbox" required />I agree to the license terms.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block btn-lg" type="submit">Sign Up</button>
            </div>
            <p>Are you already have an account? <a asp-action="Login" asp-controller="Account">Login here</a></p>
        </form>
    </div>
</div>
