.btn-file, .fileinput .thumbnail, .fileinput-filename {
    overflow: hidden;
    vertical-align: middle
}

.btn-file, .fileinput .btn, .fileinput .thumbnail, .fileinput-filename {
    vertical-align: middle
}

.contact-clean {
    background-image: url('../images/Pattern.png');
    padding: 80px 0
}

@media (max-width:767px) {
    .contact-clean {
        padding: 20px 0
    }
}

.contact-clean form {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1)
}

@media (max-width:767px) {
    .contact-clean form {
        padding: 30px
    }
}

.contact-clean h2 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 36px;
    color: inherit
}

.contact-clean .form-group:last-child {
    margin-bottom: 5px
}

.contact-clean form .form-control {
    background: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.05);
    outline: 0;
    color: inherit;
    padding-left: 12px;
    height: 42px
}

    .contact-clean form .form-control:focus {
        border: 1px solid #b2b2b2
    }

.contact-clean form textarea.form-control {
    min-height: 100px;
    max-height: 260px;
    padding-top: 10px;
    resize: vertical
}

.contact-clean form .form-control-feedback {
    height: 42px;
    line-height: 42px
}

.contact-clean form .help-block {
    margin-top: 8px;
    font-size: 13px
}

.contact-clean form .btn {
    padding: 16px 32px;
    border: none;
    background: 0 0;
    box-shadow: none;
    text-shadow: none;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .4px;
    line-height: 1;
    outline: 0 !important
}

    .contact-clean form .btn:hover {
        opacity: 1
    }

    .contact-clean form .btn:active {
        transform: translateY(1px)
    }

.contact-clean form .btn-primary {
    background-color: #055ada !important;
    margin-top: 15px;
    color: #fff
}

.btn-file {
    position: relative
}

    .btn-file > input {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 23px;
        cursor: pointer;
        filter: alpha(opacity=0);
        opacity: 0;
        direction: ltr
    }

.fileinput {
    display: inline-block;
    margin-bottom: 9px
}

    .fileinput .form-control {
        display: inline-block;
        padding-top: 7px;
        padding-bottom: 5px;
        margin-bottom: 0;
        vertical-align: middle;
        cursor: text
    }

    .fileinput .thumbnail {
        display: inline-block;
        margin-bottom: 5px;
        text-align: center
    }

        .fileinput .thumbnail > img {
            max-height: 100%
        }

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none
}

.fileinput-inline .fileinput-controls {
    display: inline
}

.fileinput-filename {
    display: inline-block
}

.form-control .fileinput-filename {
    vertical-align: bottom
}

.fileinput.input-group {
    display: table
}

    .fileinput.input-group > * {
        position: relative;
        z-index: 2
    }

    .fileinput.input-group > .btn-file {
        z-index: 1
    }

.fileinput-new .input-group .btn-file, .fileinput-new.input-group .btn-file {
    border-radius: 0 4px 4px 0
}

    .fileinput-new .input-group .btn-file.btn-sm, .fileinput-new .input-group .btn-file.btn-xs, .fileinput-new.input-group .btn-file.btn-sm, .fileinput-new.input-group .btn-file.btn-xs {
        border-radius: 0 3px 3px 0
    }

    .fileinput-new .input-group .btn-file.btn-lg, .fileinput-new.input-group .btn-file.btn-lg {
        border-radius: 0 6px 6px 0
    }
