.box:hover {
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 20px #ccc;
}

/*- See more at: http://www.corelangs.com/css/box/hover.html#sthash.ICHluhdl.dpuf*/
.features-boxed {
    color: #337ab7;
    background-image: url('../images/Pattern.png');
}

    .features-boxed p {
        color: #7d8285;
    }

    .features-boxed h2 {
        font-weight: bold;
        margin-bottom: 20px;
        padding-top: 20px;
        color: #313437;
    }

@media (max-width:767px) {
    .features-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.features-boxed .intro {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

    .features-boxed .intro p {
        margin-bottom: 0;
    }

.features-boxed .features {
    padding: 50px 0;
}

.features-boxed .item {
    text-align: center;
}

    .features-boxed .item .box {
        text-align: center;
        padding: 30px;
        background-color: #fff;
        margin-bottom: 30px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
    }

    .features-boxed .item .icon {
        font-size: 60px;
        color: #1485ee;
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .features-boxed .item .name {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 8px;
        margin-top: 0;
        color: #337AB7;
    }

    .features-boxed .item .description {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 20px;
        color: #7D8285
    }
