<!DOCTYPE html>
<html>
<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sequence Alignment</title>
</head>
<body>


    @RenderBody()

   
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>
</html>