@model SequenceAlignment.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}
<link href="~/css/Notify.css" rel="stylesheet"  />
<div class="highlight-clean" style="background-color:#f1f7fc">
    <div class="container">
        <div class="intro">
            <h2 class="text-center"> Error Notification </h2>
            <p class="lead text-center">Error Message: @Model.Message </p>
            <hr />
            <p class="lead text-center">Solution: @Model.Solution </p>
            
            @if (!string.IsNullOrWhiteSpace(Model.Link))
            {
                <hr />
                <p class="lead text-center">Link : <text> @Html.Raw(Model.Link) </text> </p>
            }
        </div>
    </div>
</div>