@model SequenceAlignment.ViewModels.GenerateSequenceViewModel

<style>
    body {
        text-align: unset;
    }
</style>
<link href="~/css/AlignSimple.css" rel="stylesheet" />
<div class="contact-clean">
    <form method="post" asp-controller="Service" asp-action="Generate">
        <h1 class="text-center">Generate </h1>
        <div class="form-group">
            <input class="form-control" type="number" inputmode="numeric" placeholder="Sequence Length" asp-for="SequenceLength" required min="10">
        </div>
        <div class="form-group">
            <span class="label label-default">Select Sequence Type</span>
            <select class="form-control" asp-for="Alphabet">
                    <option value="DNA" selected>DNA</option>
                    <option value="RNA">RNA</option>
                    <option value="Protein">Protein</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control"  asp-for="ConsecutiveMatch" type="text" placeholder="Consecutive Match Length">
        </div>
        <div class="form-group">
            <span class="label label-default">Select Consecutive Match Position</span>
            <select class="form-control" asp-for="Position">
                <option value="L">Left-To-Right</option>
                <option value="R">Right-To-Left</option>
                <option value="M" selected="">Middle</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Generate </button>
        </div>
    </form>
</div>