<link href="~/css/System-Status.css" rel="stylesheet" />
<style>
    body {
        text-align: unset;
    }
</style>
<div class="bg-gray padding-50">
    <div class="container" id="system-status">
        <h1 class="text-center" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><strong>Simple Alignment</strong> </h1>
        <div class="system-status">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <h2 class="text-uppercase">How to use</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>URL </td>
                                    <td><i class="glyphicon glyphicon-link"></i>http://mtidna.azurewebsites.net/api/webservice/align</td>
                                </tr>
                                <tr>
                                    <td>Method Type</td>
                                    <td><i class="glyphicon glyphicon-send"></i>POST</td>
                                </tr>
                                <tr>
                                    <td>FirstSequence</td>
                                    <td><i class="glyphicon glyphicon-text-background"></i>First Sequence To be aligned.</td>
                                </tr>
                                <tr>
                                    <td>SecondSequence</td>
                                    <td><i class="glyphicon glyphicon-text-background"></i>Second Sequence To be aligned.</td>
                                </tr>
                                <tr>
                                    <td>ScoringMatrixName</td>
                                    <td><i class="glyphicon glyphicon-screenshot"></i>Identifing score Matrix </td>
                                </tr>
                                <tr>
                                    <td>Allowed Scoring Matrix </td>
                                    <td><i class="glyphicon glyphicon-ok-sign"></i>Identity , BLOSUM(35,40,45,50,60,62,65,70,75,80,85,90,95) , PAM(50,100,120,150,160,200,220,250,280,300) </td>
                                </tr>
                                <tr>
                                    <td>Email </td>
                                    <td><i class="glyphicon glyphicon-envelope"></i>Your Email Account (You need to have an account)</td>
                                </tr>
                                <tr>
                                    <td>Return </td>
                                    <td><i class="glyphicon glyphicon-arrow-down"></i>Alignment Result</td>
                                </tr>
                                <tr>
                                    <td>.NET C# Example </td>
                                    <td>
                                        <pre>
    static void Main()
    {
        string Json = "{'FirstSequence':'ATGGATCTGA', 'SecondSequence': 'ACCGGTAA' , 
                        'ScoringMatrixName' : 'Identity' ,  'Email':'example@example.com'}";

        Console.WriteLine(PostAsync("http://localhost:55524/api/WebService/Align", Json).Result);
    }
    static async Task<string> PostAsync<T>(string Url, string JSON)
    {
        using (HttpClient Client = new HttpClient())
        {
            using (ByteArrayContent ByteContent = new ByteArrayContent(Encoding.UTF8.GetBytes(JSON)))
            {
                ByteContent.Headers.ContentType = new MediaTypeHeaderValue("application/json");
                return await (await Client.PostAsync(Url, ByteContent)).Content.ReadAsStringAsync();
            }
        }
    }
                                        </pre>
                                    </td>
</tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>