<link href="~/css/System-Status.css" rel="stylesheet" />
<style>
    body {
        text-align: unset;
    }
</style>
<div class="bg-gray padding-50">
    <div class="container" id="system-status">
        <h1 class="text-center"><strong>Clean </strong></h1>
        <div class="system-status">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h2 class="text-uppercase">How to use</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>URL </td>
                                    <td><i class="glyphicon glyphicon-link"></i>http://mtidna.azurewebsites.net/api/webservice/clean/sequence/alphabet</td>
                                </tr>
                                <tr>
                                    <td>Method Type</td>
                                    <td><i class="glyphicon glyphicon-send"></i>POST</td>
                                </tr>
                                <tr>
                                    <td>Sequence </td>
                                    <td><i class="glyphicon glyphicon-text-background"></i>The Sequence that should be cleaned.</td>
                                </tr>
                                <tr>
                                    <td>Alphabet </td>
                                    <td><i class="glyphicon glyphicon-font"></i>The allowed alphabet of the sequence.</td>
                                </tr>
                                <tr>
                                    <td>Return </td>
                                    <td><i class="glyphicon glyphicon-arrow-down"></i> Cleaned Sequence.</td>
                                </tr>
                                <tr>
                                    <td>Example </td>
                                    <td><i class="glyphicon glyphicon-check"></i> http://mtidna.azurewebsites.net/api/webservice/clean/TGAACFDAAT/AmbiguousDNA </td>
                                </tr>
                                <tr>
                                    <td>Allowed Alphabet</td>
                                    <td><i class="glyphicon glyphicon-ok-sign"></i> AmbiguousDNA , UnambiguousDNA , AmbiguousRNA , UnambiguousRNA , Protein</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>