<style>
    body {
        text-align: unset;
    }
</style>

<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Web Services</h2>
            <p class="lead text-uppercase text-center">We provide a powerful API tools</p>
        </div>
        <div class="row features">
            <div class="col-lg-6 col-md-4 col-sm-6 item">
                <div class="box">
                    <i class="glyphicon glyphicon-align-center icon"></i>
                    <h3 class="name"> Alignment</h3>
                    <p class="description">Align Two Sequences With Maximum Length 20k </p><a asp-action="Align" asp-controller="WebService" class="learn-more">Documentation </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6 item">
                <div class="box">
                    <i class="glyphicon glyphicon-duplicate icon"></i>
                    <h3 class="name">Similarity </h3>
                    <p class="description">Get the Similarity of two sequences</p><a asp-action="Similarity" asp-controller="WebService"  class="learn-more">Documentation </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <i class="glyphicon glyphicon-filter icon"></i>
                    <h3 class="name">Sequence Clean</h3>
                    <p class="description">Clean your Sequence from any noise based upon the type of the sequence. </p><a asp-action="Clean" asp-controller="WebService"  class="learn-more">Documentation </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <i class="glyphicon glyphicon-scissors icon"></i>
                    <h3 class="name">Splitter </h3>
                    <p class="description">Split your large sequence into small chunks with specified length. </p><a asp-action="Splitter" asp-controller="WebService" class="learn-more">Documentation </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 item">
                <div class="box">
                    <i class="glyphicon glyphicon-random icon"></i>
                    <h3 class="name">Sequence Generator</h3>
                    <p class="description">Generate two sequences with specified similarity between them. </p><a asp-action="Generate" asp-controller="WebService"  class="learn-more">Documentation </a>
                </div>
            </div>
        </div>
    </div>
</div>
