<link href="~/css/AlignmentStyles.min.css" rel="stylesheet" />
<div class="projects-clean" style="background-color:#eef4f7;">
    <div class="container">
        <div class="intro">
            <h1 class="text-center"><strong>Sequence Alignment</strong> </h1>
        </div>
        <hr style="border-color:#7d8285;">
        <p class="lead text-center">
            <strong>Sequence alignment is a way of arranging the sequences of&nbsp;DNA, RNA, or&nbsp;protein to identify regions of similarity that may be a consequence of functional,&nbsp;structural, or&nbsp;evolutionary relationships between the sequences.</strong>
        </p>
        <div class="row projects">
            <div class="col-lg-6 col-lg-offset-0 col-md-6 col-sm-6 item">
                <img src="~/images/AlignDNA.jpg" class="img-thumbnail img-responsive"/>
                <h1 class="name">Simple Alignment</h1>
                <h3>Align Two Sequences Up to Length 20k &nbsp; </h3>
                <a class="btn btn-primary btn-block btn-lg"  asp-action="Align" asp-controller="Alignment">Align </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 item">
                <img src="~/images/Grid.jpg" class="img-thumbnail img-responsive" />
                <h1 class="name">Cloud Alignment</h1>
                <h3>Align long two Sequences up to any length </h3>
                <a class="btn btn-primary btn-block btn-lg" asp-action="Grid" asp-controller="Alignment">Align </a>
            </div>
        </div>
    </div>
</div>