<link href="~/css/AlignmentStyles.min.css" rel="stylesheet" />
<div class="projects-clean" style="background-color:#eef4f7;">
    <div class="container">
        <div class="intro">
            <h1 class="text-center"><strong>Sequence Alignment</strong> </h1>
        </div>
        <hr style="border-color:#7d8285;">
        <p class="lead text-center">
            <strong>The sequence alignment is a way of arranging the sequences of&nbsp;DNA, RNA, or&nbsp;protein to identify regions of similarity that may be a consequence of functional,&nbsp;structural, or&nbsp;evolutionary relationships between the sequences.</strong>
        </p>
        <div class="row projects">
            <div class="col-lg-6 col-lg-offset-0 col-md-6 col-sm-6 item" style="border-right:5px dotted #e5e5e5;">
                <img src="~/images/AlignDNA.jpg" class="img-thumbnail img-responsive"/>
                <h1 class="name">Simple Alignment</h1>
                <h3>Align two Sequences with maxiunm lenght 20k&nbsp; </h3>
                <button class="btn btn-primary btn-block btn-lg" type="button">Align </button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 item">
                <img src="~/images/Grid.jpg" class="img-thumbnail img-responsive" />
                <h1 class="name">Grid Alignment</h1>
                <h3>Align two Sequences with minium lenght 20k </h3>
                <button class="btn btn-primary btn-block btn-lg" type="button">Align </button>
            </div>
        </div>
    </div>
</div>