<link href="~/css/Notify.css" rel="stylesheet" />
<div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Cloud Comptuing Notification</h2>
            <p class="lead text-center">Thanks for using our Cloud Computing Service, We will notify you by email, that we finished the alignment Job. your alignment ID : @Model </p>
        </div>
        <div class="buttons">
            <a class="btn btn-primary" role="button" asp-action="Gird" asp-controller="Alignment">Align other sequences </a>
            <a class="btn btn-default" role="button" asp-action="Index" asp-controller="Profile">History </a>
        </div>
    </div>
</div>